APP_ENV=production
APP_NAME="Capacitaciones Médicas Bahía"
APP_URL=https://capacitacion.clinicabahia.pe

DB_HOST=localhost
DB_DATABASE=clinicabahia
DB_USERNAME=cesarxd365
DB_PASSWORD='R+%I8yaE8^jA'

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH='$2y$12$3QbzuITihIz9OpqZCMxHQur/ZeWhI8hP1bYria8mizzlso5Nlwp1S'
